* `apply()` 
Apply a function to a data frame column
Can also apply to multiple columns
* `lambda()`

In [ ]:
num = 2
'a' * (num // 10)

TypeError: can't multiply sequence by non-int of type 'float'