In [1]:
import pandas as pd

In [5]:
data = pd.DataFrame({'Student Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Heidi', 'Ivan', 'Judy'], 
        'GPA':          ['3.8', '3.5', '3.9', '2.8', '3.6', '3.2', '4.0', '3.1', '2.9', '3.7']})

In [9]:
pd.to_numeric(data["GPA"]).mean()

np.float64(3.45)

In [10]:
def GPA_to_letter(grade):
    return "A"

In [14]:
data["letter grade"] = data["GPA"].map(GPA_to_letter)

In [12]:
data

  Student Name  GPA letter grade
0        Alice  3.8            A
1          Bob  3.5            A
2      Charlie  3.9            A
3        David  2.8            A
4          Eve  3.6            A
5        Frank  3.2            A
6        Grace  4.0            A
7        Heidi  3.1            A
8         Ivan  2.9            A
9         Judy  3.7            A